.navbar-nav.right {
    margin-right: 0!important;
}

.carousel-item {
    height: 400px;
}

.cover-img {
    height: auto;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.search_banner {
    position: absolute;
    top: 250px;
    left: 500px;
}

.search_banner input {
    width: 500px!important;
}

.text-center {
    text-align: center !important;
}

.register-left {
    height: 100%;
    width: 40%;
    background: url("../img/user/register-unsplash.jpg");
    background-size: cover;
}

.register-left .row {
    margin: 0;
    height: 200px;
    padding-left: 50px;
}

.register-right {
    padding-left: 50px;
    padding-right: 50px;
    width: 60%;
}

.register-page{
    height: 100%;
}